version: '3'

volumes:
  grafana-data:
    driver: local
  influxdb-storage:
    driver: local
  prometheus-data:
    driver: local

services:
  influxdb:
    image: influxdb:latest
    ports:
      - '8086:8086'
    volumes:
      - influxdb-storage:/var/lib/influxdb
    environment:
      - INFLUXDB_DB=db0
      - INFLUXDB_ADMIN_USER=${INFLUXDB_USERNAME} # Change this in the .env file.
      - INFLUXDB_ADMIN_PASSWORD={INFLUXDB_PWD} # Change this in the .env file.
 
 heimdall:
    image: lscr.io/linuxserver/heimdall:latest
    container_name: heimdall
    environment:
      - PUID={PUID} # .env file.
      - PGID={PUID} # .env file.
      - TZ={TZ} # .env file.
    volumes:
      - /heimdall:/config
    ports:
      - 1080:80
      - 8443:443
    restart: unless-stopped    
  
  grafana:
    image: grafana/grafana-oss:latest
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana-data:/var/lib/grafana
    restart: unless-stopped
    
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - /etc/prometheus:/etc/prometheus
      - prometheus-data:/prometheus
    restart: unless-stopped
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      
  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    # ports:
    #   - "8080:8080"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
    devices:
      - /dev/kmsg:/dev/kmsg
    restart: unless-stopped
    privileged: true
      
  node_exporter:
    image: quay.io/prometheus/node-exporter:latest
    container_name: node_exporter
    command:
      - '--path.rootfs=/host'
    pid: host
    restart: unless-stopped
    volumes:
      - '/:/host:ro,rslave'
     
  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: 
    
  bookstack:
    image: lscr.io/linuxserver/bookstack
    container_name: bookstack
    environment:
      - PUID={PGID} # .env file.
      - PGID={PGID} # .env file.
      - APP_URL={BOOKSTACK_URL} # .env file.
      - DB_HOST=bookstack_db
      - DB_USER={BOOKSTACKDB_USER} # .env file.
      - DB_PASS={BOOKSTACKDB_PWD} # .env file.
      - DB_DATABASE=bookstackapp
    volumes:
      - /path/to/data:/config
    ports:
      - 6875:80
    restart: unless-stopped
    depends_on:
      - bookstack_db
  bookstack_db:
    image: lscr.io/linuxserver/mariadb
    container_name: bookstack_db
    environment:
      - PUID={PUID} # .env file.
      - PGID={PGID} # .env file.
      - MYSQL_ROOT_PASSWORD={BSMYSQL_ROOTPWD} # .env file.
      - TZ={TZ} # .env file.
      - MYSQL_DATABASE=bookstackapp
      - MYSQL_USER={BSMYSQL_USER} # .env file.
      - MYSQL_PASSWORD={BSMYSQL_PWD} # .env file.
    volumes:
      - /path/to/data:/config
    restart: unless-stopped

  
