version: "3.4"
services:

  transmission:
    image: haugene/transmission-openvpn
    container_name: transmission-openvpn
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun
    restart: always
    ports:
      - "9091:9091"
      # - "8888:8888" # proxy support
    volumes:
      - ${SRVR}/downloads:/downloads # Folder where our downloaded files will end up.
      - ${ROOT}/config/transmission:/config # Folder where Transmission's configuration files will be stored.
      - ${SRVR}/downloads/torrent-blackhole:/watch # Folder for Tranmission to watch for .magnet files to automatically download.
    environment:
      - TRANSMISSION_DOWNLOAD_DIR=/downloads/complete
      - TRANSMISSION_INCOMPLETE_DIR=/downloads/incomplete
      - TRANSMISSION_HOME=/config
      - OPENVPN_PROVIDER=MULLVAD # Enter your VPN provider's name here.
      - OPENVPN_USERNAME=123456789 # Enter your VPN username here.
      - OPENVPN_PASSWORD=m # Enter your VPN password here. 
      - OPENVPN_OPTS=--inactive 3600 --ping 10 --ping-exit 60
      - LOCAL_NETWORK=192.168.20.0/24 #Configure your local network to broadcast Transmission outside of the VPN connection.
    sysctls:
        - "net.ipv6.conf.all.disable_ipv6=0" # Use this to disable IPv6 if you don't use it. Comment it out otherwise.

  prowlarr:
    container_name: prowlarr
    image: lscr.io/linuxserver/prowlarr:develop
    restart: unless-stopped
    ports:
      - 9696:9696
    environment:
      - PUID=${PUID} # default user id, defined in .env
      - PGID=${PGID} # default group id, defined in .env
      - TZ=${TZ} # timezone, defined in .env
    volumes:
      - ${SRVR}/downloads/torrent-blackhole:/downloads # place where to put .torrent files for manual download
      - ${ROOT}/config/prowlarr:/config # config files

  nzbget:
    container_name: nzbget
    image: linuxserver/nzbget:latest
    restart: unless-stopped
    ports:
      - 6789:6789
    environment:
      - PUID=${PUID} # default user id, defined in .env
      - PGID=${PGID} # default group id, defined in .env
      - TZ=${TZ} # timezone, defined in .env
    volumes:
      - ${SRVR}/downloads:/downloads # download folder
      - ${ROOT}/config/nzbget:/config # config files

  sonarr:
    container_name: sonarr
    image: linuxserver/sonarr:latest
    restart: unless-stopped
    ports:
      - 8989:8989
    environment:
      - PUID=${PUID} # default user id, defined in .env
      - PGID=${PGID} # default group id, defined in .env
      - TZ=${TZ} # timezone, defined in .env
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${ROOT}/config/sonarr:/config # config files
      - ${SRVR}/complete/tv:/tv # tv shows folder
      - ${SRVR}/downloads:/downloads # download folder
      
  lidarr:
    image: lscr.io/linuxserver/lidarr:latest
    container_name: lidarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${ROOT}/config:/config
      - ${SRVR}:/downloads #optional
      - ${SRVR}/complete/music:/music # music folder
    restart: unless-stopped
    ports:
      - 8686:8686

  radarr:
    container_name: radarr
    image: linuxserver/radarr:latest
    restart: unless-stopped
    ports:
      - 7878:7878
    environment:
      - PUID=${PUID} # default user id, defined in .env
      - PGID=${PGID} # default group id, defined in .env
      - TZ=${TZ} # timezone, defined in .env
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${ROOT}/config/radarr:/config # config files
      - ${SRVR}/complete/movies:/movies # movies folder
      - ${SRVR}/downloads:/downloads # download folder
  
  bazarr:
    container_name: bazarr
    image: linuxserver/bazarr
    restart: unless-stopped
    ports:
      - 6767:6767
    environment:
      - PUID=${PUID} # default user id, defined in .env
      - PGID=${PGID} # default group id, defined in .env
  
  #ombi:
   # image: lscr.io/linuxserver/ombi:latest
   # container_name: ombi
   # environment:
    #  - PUID={PUID}
   #   - PGID=${PGID}
    #  - TZ=${TZ}
     # - BASE_URL=/ombi #optional
  #  volumes:
   #   - ${ROOT}/config/ombi/:/config
   # ports:
  #    - 3579:3579
  #  restart: unless-stopped

  plex-server:
    container_name: plex-server
    image: plexinc/pms-docker:latest
    restart: unless-stopped
    environment:
      - TZ=${TZ} # timezone, defined in .env
    ports:
      - 32400:32400
    volumes:
      - ${ROOT}/config/plex/db:/config # plex database
      - ${SRVR}/config/plex/transcode:/transcode # temp transcoded files
      - ${SRVR}/complete:/data # media library
  
  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: ${APPLICATIONS}
